// Header and Body Font Mixins. If a third font is used can name special-font or something similar.
@mixin main-font {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin title-font {
    font-family: 'Source Code Pro', monospace;
}

@mixin special-font {
    font-family: 'Bebas Neue', cursive;
}

// If Custom Font - Drop the @font-face items here
// @font-face {

// }



// Preliminary Theme Fonts, Sizes and Colors - This overrides Bootstraps predefined settings
h1 {

    a {
        color: green;
    }
    @include main-font;



    // H1 on Mobile
    @include respond-below(md) {}

    // If Font has special Highlighted Words
    // span {

    // }

}

h2 {}

h3 {}

h4 {}

h5 {}

p, ul {
    color: #3f3f3f;
    @include main-font;
    font-size: calc(max(14px, min(1.5vw, 20px)));
}

#main-menu {
    .menu-item {}
}

.title {
    @include main-font;
    font-size: calc(max(28px, min(3vw, 48px)));
    color: #3f3f3f;
    line-height: 1.2em;
    margin-top: 55px;

    span {
        color: $red;
    }
}

.title__small {
    @include main-font;
    font-size: 37px;
    font-size: calc(max(22px, min(2.5vw, 37px)));
    color: #3f3f3f;
    line-height: 1.15em;
    margin-top: 55px;
}


.subtitle {
    @include title-font;
    font-size: 28px;
    font-size: calc(max(18px, min(2.5vw, 28px)));
    text-transform: uppercase;
    letter-spacing: .14em;
}

.subtitle__red {
    color: $red;
}

.number,
.pre-title {
    @include special-font;
    font-size: 36px;
    font-size: calc(max(22px, min(2.5vw, 36px)));
    font-weight: 600;
    color: $red;

    margin-bottom: -17px;
}